#section1 {
    display: flex;
    flex-direction: column;
    height: auto;
    background: url('img/main_part.png');
    background-size: cover;
    background-position: center;
}
h1{
    font-weight: lighter;
    font-family: "Source Sans Pro";
}

header, #section1 {
    flex: 1;
    color: white;
    padding: 20px;
}
.header-container {
    display: flex;
    justify-content: flex-start;  /* Espaces égaux entre le logo et le nav */
    align-items: center;             /* Aligne verticalement le logo et le nav */
    padding: 10px;                   /* Espacement autour du contenu */
}
.link_block nav {
    display: flex;
    gap: 20px;  /* Espacement entre les éléments du menu */
}
.link_block nav a {
    text-decoration: none;
    color: white;  /* Couleur du texte pour le menu */
    font-family: 'Source Sans Pro';
    font-size: 16px;
}
.link_block nav a {
    font-weight: 700;  /* Applique le poids bold (700) */
}
#mainh1{
    font-size: 120px;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 50px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
}
#mainsoustitre{
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.regis{
    color: white;
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 25px;
    size: 300 ;
    padding: 15px;
}
#titlemain{
    text-align: center;
    padding-bottom: 50px;
}
#avatar{
    display: flex;
    justify-content: center; 
    gap: 50px; 
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    gap: 70%;
}
#mybtn{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 30px;
}
span{
    color: #C271FF;
    font-weight: bold;
}
.box{
    flex: 1;
    max-width: 150px;
    padding: 20px; 
}
.box p{
    word-wrap: break-word;
    white-space: normal;
    font-style: italic;
    font-weight: 0;
}
#section2{
    background-color: #C271FF;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    height: 392px;
    width: 100%;
    gap: 40px;
}
#paroles{
    flex: 1;
    max-width: 600px;
}
#paroles blockquote {
    word-wrap: break-word;
}
#paroles p{
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 5px;
}
#section3{
    text-align: center;
}
#videos , #subbs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#sec3{
    margin-top: 100px;
}
.video{
    flex: 1;
    max-width: 255px;
}
#videos p{
    color: rgba(7, 22, 41, 0.5016);
}
#videos h2{
    font-family: 'Source Sans Pro';
    font-size: 16px;
}
.signature{
    display: flex; 

}
.signature img{
    width: 30px;
    height: 30px;
    top: 261px;
    left: 13px;
}
.signature h3{
    font-size: 14px;
    color: #C271FF;
    font-weight: 600;
    margin-left: 13px;
    height: 27px;
    margin-top: 7px;
    font-family: "Source Sans Pro";

}
.etoile{
    display: flex;
    justify-content: left;
    color: #C271FF;
}
.etoile span {
    margin: 0px;
    margin-left: 100px;
    color: #C271FF;
    font-family: "Source Sans Pro";

}
#subbs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#subbs p, h2{
    color: white;
    font-style: normal;
}
#subbs p{
    font-weight: lighter;
}
.boxy{
    flex: 1;
    max-width: 257px;
    font-family: "Source Sans Pro";
}
#sec4{
    padding-top: 50px;
    margin-bottom: 0%;
}
#sec4 h1{
    margin-bottom: 60px;

}
#sec3{
    margin-bottom: 100px;
}
#btnreg{
    font-size: 10px;
    margin-top: 70px;
    margin-bottom: 0;
}
#boxes h2{
    color: black;
}
#boxes p{
    color: rgba(7, 22, 41, 0.5016);
}
.boxe1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
.baxy{
    flex: 1;
    max-width: 350px;
}
.baxy h2{
    font-size: 16px;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70%;
    padding-top: 100px;
}
footer{
    height: 249px;
    margin-top: 90px;
}
.foot a{
    margin-right: 12px;
}
